<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="MainBnd" closeTimeout="09:01:00" openTimeout="09:01:00" receiveTimeout="09:10:00" sendTimeout="09:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://192.9.10.12:3025/wsCalisto/wsCalisto.svc"
      binding="basicHttpBinding" bindingConfiguration="MainBnd" contract="IwsCalisto"
      name="Basic" />
    </client>

    <behaviors>

    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>

    </services>

  </system.serviceModel>

</configuration>